#  Assignment 3

## Notebook made by  

|Rogier van Witzenburg | 10606947 | rogiervanwitzenburg@gmail.com |
|:- |:-|:-|
|.Andreas Vos |10779752 | acefoxy@gmail.com|
|  | |. |

### Pledge (taken from [Coursera's Honor Code](https://www.coursera.org/about/terms/honorcode) )



Put here a selfie with your photo where you hold a signed paper with the following text: (if this is team work, put two selfies here). The link must be to some place on the web, not to a local file. 

> My answers to homework, quizzes and exams will be my own work (except for assignments that explicitly permit collaboration).

>I will not make solutions to homework, quizzes or exams available to anyone else. This includes both solutions written by me, as well as any official solutions provided by the course staff.

>I will not engage in any other activities that will dishonestly improve my results or dishonestly improve/hurt the results of others.

<img src='http://www.andreasvos.nl/own.png'/>
<img src='http://2ndgoods.nl/wp-content/uploads/2016/08/148106003133056-2-300x300.jpg'/>n

### Note
* **Assignments without the selfies or completely filled in information will not be graded and receive 0 points.**

# Pandas assignment

## [Part one]()  

* All exercises in the two notebooks in [Data preprocessing and Exploratory Data Analysis](http://maartenmarx.nl/teaching/DataScience/NoteBooks/DiscoveringKnowledgeChap2_3) 

* Not graded now, but checked at the exam.

## Part two: American baby names

We continue the analysis of American baby names started in <http://nbviewer.jupyter.org/url/maartenmarx.nl/teaching/DataScience/Slides/Week1_slides.ipynb#Chapter-2:-analyse-baby-names>

You must copy some of the pandas commands from the slides to get started. Do that here too.

In [1]:
import pandas as pd
import numpy as np

# Concatenate them all
# 2010 is the last available year right now
years = range(1880,  2011)

columns = ['name', 'sex', 'births']

# pieces is a list of pandas dataframes
pieces = []
for year in years:
    path = 'names/yob%d.txt' % year
    frame = pd.read_csv(path, names=columns)

    frame['year'] = year # Add the year column with constant value
    pieces.append(frame)

# Concatenate everything into a single DataFrame
names = pd.concat(pieces, ignore_index=True)

## N1

* Vind voor elke naam het totaal aantal jongens en het totaal aantal meisjes met die naam (totalen dus genomen over alle jaren)
* Dit is natuurlijk weer een pivot table
* We willen ook de totalen erbij
* Orden de namen omgekeerd op het aantal keer dat ze voorkomen

Je tabel moet er zo uitzien:
* kolommen: sex	F	M	All
* Rijen: ALL, gevolgd door de namen, 

```
sex	F	M	All
name			
All	159990140	162412587	322402727
James	23044	5049727	5072771
John	21578	5040319	5061897
Robert	20055	4767995	4788050
Michael	21470	4243903	4265373
```

In [8]:
table = names.pivot_table(values='births', index='name',columns='sex', aggfunc=sum, margins=True)
N1 = table.sort_values(by='All', ascending=False)
print N1

sex                    F            M          All
name
All          159990140.0  162412587.0  322402727.0
James            23044.0    5049727.0    5072771.0
John             21578.0    5040319.0    5061897.0
Robert           20055.0    4767995.0    4788050.0
Michael          21470.0    4243903.0    4265373.0
Mary           4103935.0      15139.0    4119074.0
William          15806.0    3986586.0    4002392.0
David            12787.0    3525961.0    3538748.0
Richard           9534.0    2542735.0    2552269.0
Joseph           10529.0    2519280.0    2529809.0
Charles          12316.0    2335387.0    2347703.0
Thomas            8404.0    2254734.0    2263138.0
Christopher       9365.0    1947979.0    1957344.0
Daniel            8004.0    1810130.0    1818134.0
Patricia       1568742.0       4964.0    1573706.0
Elizabeth      1561874.0       5107.0    1566981.0
Matthew           5393.0    1498203.0    1503596.0
Jennifer       1455078.0       4809.0    1459887.0
George            9915.0    1443869.0    1453784.0
Linda          1448771.0       3756.0    1452527.0
Barbara        1431316.0       4139.0    1435455.0
Donald            5566.0    1405550.0    1411116.0
Paul              5848.0    1372511.0    1378359.0
Anthony           6954.0    1351350.0    1358304.0
Mark              4477.0    1334372.0    1338849.0
Edward            5360.0    1270291.0    1275651.0
Steven            4451.0    1260654.0    1265105.0
Kenneth           5330.0    1257723.0    1263053.0
Margaret       1232653.0       3737.0    1236390.0
Andrew            4790.0    1206648.0    1211438.0
...                  ...          ...          ...
Chemane              5.0          NaN          5.0
Pandi                5.0          NaN          5.0
Kauai                NaN          5.0          5.0
Roxsand              5.0          NaN          5.0
Emane                5.0          NaN          5.0
Pantha               5.0          NaN          5.0
Pany                 5.0          NaN          5.0
Panyia               5.0          NaN          5.0
Tesslynn             5.0          NaN          5.0
Katiuscia            5.0          NaN          5.0
Paradyce             5.0          NaN          5.0
Tetsu                NaN          5.0          5.0
Katlain              5.0          NaN          5.0
Katonna              5.0          NaN          5.0
Emalei               5.0          NaN          5.0
Cheridyn             5.0          NaN          5.0
Sheili               5.0          NaN          5.0
Par                  5.0          NaN          5.0
Jabel                NaN          5.0          5.0
Katrea               5.0          NaN          5.0
Tevarus              NaN          5.0          5.0
Cheriann             5.0          NaN          5.0
Tevell               NaN          5.0          5.0
Cheriah              5.0          NaN          5.0
Katreen              5.0          NaN          5.0
Katreina             5.0          NaN          5.0
Katrenna             5.0          NaN          5.0
Katriece             5.0          NaN          5.0
Cheretta             5.0          NaN          5.0
Kaylab               NaN          5.0          5.0

[88497 rows x 3 columns]

# N2

* Now we want to find the most gender ambiguous names.
* How can we do that? An intuitive measure is to take the logarithm of the number of males divided by the number of females. 
    * If it is close to 0, the name is very ambiguous
    * if it is negative, it is a more femalish name
    * if it is positive it is a more malish name
    * if we take logarithm with base 2, then a value of $+n$, for a name $N$, means that $N$ is used $2^n$ more often for males than for females. E.g., for $n=4$, this means 16 times. 
   
### Your task
* Add a column `ratio` to your just created dataframe in which you divide the male by the female totals
* Using `np.log` and pandas `apply` method (and possibly $\lambda$ abstraction), compute the log measure.
* Print out the top 20 most ambiguous names. Take those names with a "log-value" between $-0.1$ and $0.1$ and sort them reversely on the total number of babies with that name.

In [3]:
def f(x):    
    return np.log2(x['M'] / x['F'])
N1['ratio'] = N1.apply(f,axis=1) 
N2 = N1.query('-0.1 <= ratio <= 0.1')
N2.tail(n=20)
N2.sort_values(by='All', ascending=False)

sex                  F            M          All     ratio
name
All        159990140.0  162412587.0  322402727.0  0.021680
Kerry          48303.0      49163.0      97466.0  0.025460
Kris           13372.0      13536.0      26908.0  0.017586
Unknown         8983.0       8771.0      17754.0 -0.034456
Amari           9101.0       8505.0      17606.0 -0.097714
Baby            5738.0       5966.0      11704.0  0.056216
Campbell        3570.0       3404.0       6974.0 -0.068693
Michal          3384.0       3500.0       6884.0  0.048625
Kodi            2030.0       2072.0       4102.0  0.029544
Ellison         1653.0       1748.0       3401.0  0.080618
Kiran           1511.0       1482.0       2993.0 -0.027958
Dann            1145.0       1090.0       2235.0 -0.071019
Karsen          1077.0       1135.0       2212.0  0.075674
Adair           1078.0       1081.0       2159.0  0.004009
Delane           942.0        921.0       1863.0 -0.032526
Ricci            829.0        872.0       1701.0  0.072956
Cameran          743.0        775.0       1518.0  0.060834
Terryl           717.0        740.0       1457.0  0.045552
Kendel           712.0        684.0       1396.0 -0.057881
Berkeley         685.0        678.0       1363.0 -0.014819
De               641.0        674.0       1315.0  0.072424
Lindley          629.0        626.0       1255.0 -0.006897
Juel             609.0        634.0       1243.0  0.058041
Deniz            534.0        568.0       1102.0  0.089051
Jaydyn           523.0        546.0       1069.0  0.062090
Collen           512.0        521.0       1033.0  0.025140
Evyn             507.0        518.0       1025.0  0.030966
Hillery          495.0        501.0        996.0  0.017382
Cache            440.0        465.0        905.0  0.079727
Han              439.0        429.0        868.0 -0.033243
...                ...          ...          ...       ...
Anesti             5.0          5.0         10.0  0.000000
Graylyn            5.0          5.0         10.0  0.000000
Dominquie          5.0          5.0         10.0  0.000000
Selester           5.0          5.0         10.0  0.000000
Doney              5.0          5.0         10.0  0.000000
Macaire            5.0          5.0         10.0  0.000000
Rochon             5.0          5.0         10.0  0.000000
Luzell             5.0          5.0         10.0  0.000000
Mayne              5.0          5.0         10.0  0.000000
Seton              5.0          5.0         10.0  0.000000
Murtha             5.0          5.0         10.0  0.000000
Shermain           5.0          5.0         10.0  0.000000
Tylei              5.0          5.0         10.0  0.000000
Salud              5.0          5.0         10.0  0.000000
Kristyan           5.0          5.0         10.0  0.000000
Mckel              5.0          5.0         10.0  0.000000
Everal             5.0          5.0         10.0  0.000000
Ebby               5.0          5.0         10.0  0.000000
Shinobu            5.0          5.0         10.0  0.000000
Jaimison           5.0          5.0         10.0  0.000000
Shing              5.0          5.0         10.0  0.000000
Shaquane           5.0          5.0         10.0  0.000000
Elyah              5.0          5.0         10.0  0.000000
Alique             5.0          5.0         10.0  0.000000
Sheon              5.0          5.0         10.0  0.000000
Montea             5.0          5.0         10.0  0.000000
Jaazaniah          5.0          5.0         10.0  0.000000
Luren              5.0          5.0         10.0  0.000000
Sachary            5.0          5.0         10.0  0.000000
Naylen             5.0          5.0         10.0  0.000000

[237 rows x 4 columns]

# N3

* We now want a dataframe containing non-ambiguous names.
* Do two things.

1. Add a column `gender` to your dataframe in which you store the winning gender.
2. Restrict the dataframe to those names which occur at least 10.000 times and are used at least 16 times more for one gender than for the other.
    * How many names are left?
    * How many males and how many females?
3. Store this as a csv file.
3. Suppose we classify all children with the names from this csv file according to the gender column. Clearly we make some mistakes then (that is, for example  a boy named Sue is classified as a girl). Calculate the expected maximum percentage of mistakes, and also calculated the actual percentage of mistakes.

In [4]:
def f2(x): 
    if x['ratio'] <= 0:
        return 0
    elif x['ratio'] >=0:
        return 1
N1['gender'] = N1.apply(f2,axis=1) 
N4 = N1.query('All >10000 & ratio < -4 | ratio > 4')

N4['gender'].value_counts()

men = 2210
women = 1024
total = men+women

print men, women, total

2210 1024 3234

In [5]:
#writing to csv
N1.to_csv('names.csv')

In [6]:
def f3(x): 
    if x['gender'] == 0:
        return  x['M'] / x['All'] *100
    if x['gender'] == 1:
        return  x['F'] / x['All'] *100
N1['ratio2'] = N1.apply(f3,axis=1) 
Actual = '49.62'

In [7]:

Expected =  100/16
print 50-Expected

Expected = '44'

44