## Notebook made by  

|Rogier van Witzenburg | 10606947 | rogiervanwitzenburg@gmail.com |
|:- |:-|:-|
|.Andreas Vos |10779752 | acefoxy@gmail.com|
|  | |. |

### Pledge (taken from [Coursera's Honor Code](https://www.coursera.org/about/terms/honorcode) )



Put here a selfie with your photo where you hold a signed paper with the following text: (if this is team work, put two selfies here). The link must be to some place on the web, not to a local file. 

> My answers to homework, quizzes and exams will be my own work (except for assignments that explicitly permit collaboration).

>I will not make solutions to homework, quizzes or exams available to anyone else. This includes both solutions written by me, as well as any official solutions provided by the course staff.

>I will not engage in any other activities that will dishonestly improve my results or dishonestly improve/hurt the results of others.

<img src='http://www.andreasvos.nl/own.png'/>
<img src='http://2ndgoods.nl/wp-content/uploads/2016/08/148106003133056-2-300x300.jpg'/>n

### Note
* **Assignments without the selfies or completely filled in information will not be graded and receive 0 points.**

 


# AssignmentWikipediaEditors

In deze opgave halen we een datafile op, die een naar formaat heeft. Het is een spreadsheet, maar het aantal kolommen is niet constant.

In [1]:
%matplotlib inline
import pandas as pd
import re
from lxml import etree 
from bz2file import BZ2File
import codecs
import nltk
from collections import defaultdict, Counter
from  itertools import combinations  # ideal for creating all possible pairs that out can make out of a set
from __future__ import division
from math import sqrt 
import csv

# N1

1. Haal de file <http://language.media.mit.edu/data/public/wikipedia_userlang_iso639-3.zip> op, en unzip hem.
    * Dit mag met de hand, maar natuurlijk liever in code in je notebook.
    * Sla de file `wikipedia_userlang_iso639-3.tsv` in dezelfde folder op als dit notebook
    * use a notebook magic command to show how large this file is.

In [13]:
#Vraag 1 



!wget http://language.media.mit.edu/data/public/wikipedia_userlang_iso639-3.zip

--2017-02-27 07:34:30--  http://language.media.mit.edu/data/public/wikipedia_userlang_iso639-3.zip
Resolving language.media.mit.edu... 18.85.11.146
Connecting to language.media.mit.edu|18.85.11.146|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 44861131 (43M) [application/zip]
Saving to: ‘wikipedia_userlang_iso639-3.zip’

wikipedia_userlang_ 100%[===================>]  42.78M  1.28MB/s    in 28s

2017-02-27 07:34:58 (1.55 MB/s) - ‘wikipedia_userlang_iso639-3.zip’ saved [44861131/44861131]

In [14]:
import zipfile
zip_ref = zipfile.ZipFile('wikipedia_userlang_iso639-3.zip', 'r')
zip_ref.extractall()
zip_ref.close()

In [15]:
!ls -lh wikipedia_userlang_iso639-3.tsv

-rw-r--r--  1 AndreasVos  staff   128M Feb 27 07:35 wikipedia_userlang_iso639-3.tsv

# N2

2. Bepaal de separator en bepaal hoeveel kolommen een regel maximaal heeft.
    * het maximaal aantal kolommen in een regel mag je ook in de code in de volgende vraag bepalen.

In [2]:
# antwoord N2
#.tsv so tab seperated

with open('wikipedia_userlang_iso639-3.tsv',"r") as tsv:
    reader = csv.reader(tsv)
    li = list(reader)
    len_rows = len(li)
    
with open('wikipedia_userlang_iso639-3.tsv',"r") as tsv:
    tab = [next(tsv).count("\t") for i in range(len_rows)]
    max_column = max(tab) +1 
    

print max_column

241

# N3 

3. Verander het spreadsheet in een dataframe met een 3 koloms formaat 
    * editor-name
    * taal code
    * hoe vaak (heeft die editor in die taalcode een edit gedaan.
4. Laat met df.head de eerste vijf regels zien. Zoals hieronder.
5. Doe dit alles in een functie en gebruik %time om te tonen hoe lang het duurt

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>gebruikersnaam</th>
      <th>taal</th>
      <th>aantal_edits</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>! ! ! ! ! ! ! ! ! ! ! ! ! ! !</td>
      <td>zho</td>
      <td>7</td>
    </tr>
    <tr>
      <th>1</th>
      <td>! ! ! ! ! ! ! ! ! ! ! ! ! !</td>
      <td>zho</td>
      <td>8</td>
    </tr>
    <tr>
      <th>2</th>
      <td>! ! ! ! ! ! ! ! ! ! ! ! !</td>
      <td>zho</td>
      <td>30</td>
    </tr>
    <tr>
      <th>3</th>
      <td>! ! ! ! ! ! ! ! ! ! ! !</td>
      <td>zho</td>
      <td>7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>! ! ! ! ! ! ! ! ! ! !</td>
      <td>zho</td>
      <td>5</td>
    </tr>
  </tbody>
</table>

#### Hint
* open de file op de behandelde stromende manier en lees hem regel voor regel
* schoon elke regel op en splits die op 
* haal de data die je wilt hebben uit de regel en spaar triples op in een lijst.
* Van die lijst met triples maak je in 1 klap een dataframe
* geef de juiste kolomsnamen als in het voorbeeld 
* borduur voort op de gegeven code

In [3]:
# Vraag 3 

def vraag3():
    L=[]
    c=0
    with open('wikipedia_userlang_iso639-3.tsv','r') as tsv:
        for line in range(len_rows):
            x = tsv.readline()
            a = x.replace('\n',"").split('\t')
            gebruikersnaam = a[0]
            z = [(gebruikersnaam, x.split(',')[0], x.split(',')[1])for x in a[1:]]
            [L.append(x) for x in z]   
                

    df = pd.DataFrame(L)

    df.columns=['gebruikersnaam','taal','aantal_edits']
    
        

    return df
%time df = vraag3()
    
df.head()

CPU times: user 25.5 s, sys: 3.25 s, total: 28.7 s
Wall time: 30.6 s

                  gebruikersnaam taal aantal_edits
0  ! ! ! ! ! ! ! ! ! ! ! ! ! ! !  zho            7
1    ! ! ! ! ! ! ! ! ! ! ! ! ! !  zho            8
2      ! ! ! ! ! ! ! ! ! ! ! ! !  zho           30
3        ! ! ! ! ! ! ! ! ! ! ! !  zho            7
4          ! ! ! ! ! ! ! ! ! ! !  zho            5

# N4 

4. Laadt die nieuwe file in pandas in en bepaal:
    1. Hoeveel verschillende editors zijn er?
    1. Voor elk getal i, hoeveel editors hebben er in i talen ge-edit?
        1. Hoeveel hebben er in precies 3 talen geedit?
        2. Plot op de x-as het aantal talen en op de y-as het aantal editors dat in zoveel talen heeft geedit. 
            * Begin beide assen bij 0
            * Gebruik een loglog schaal. Je plot zal er als een bijna rechte neergaande lijn met aan het eind wat wiebels uitzien. 
    1. Wat is het gemiddeld aantal talen waarin iemand edit? Wat is de mediaan?
        * Geef voor zowel het gemiddelde als de mediaan een test waaruit blijkt dat je antwoord klopt.
    
    
#### Geef elk antwoord in een nieuwe cel en geef aan welke subvraag je beantwoordt.

In [4]:
#A 
a = len(df['gebruikersnaam'])


print "Er zijn %s verschillende editors."% a

Er zijn 8436388 verschillende editors.

In [5]:
#B
def count(i):
    count = df["gebruikersnaam"].value_counts()

    count2 = count.to_frame()


    count2.columns = ["Editors"]

    query = len(count2.query("Editors == @i"))
    return query


counts = count(3)

print "Er hebben %s editors in precies 3 talen ge-edit." % counts

Er hebben 65988 editors in precies 3 talen ge-edit.

In [ ]:
# B plot

In [6]:
# C mean
def mean():
    count = df["gebruikersnaam"].value_counts()

    count2 = count.to_frame()
    mean = count2.mean()
    return mean

a = mean()
print a

gebruikersnaam    1.153354
dtype: float64

In [43]:
# C median 

def median():
    count = df["gebruikersnaam"].value_counts()

    count2 = count.to_frame()
    median = count2.median()
    return median

b = median()
print b

gebruikersnaam    1.0
dtype: float64

# N5 

 1. Maak een functie met als input een integer i, dat een dataframe maakt met de kolommen 
> 'taal,taal,aantal editors die in beide talen minstens  i edits hebben gedaan.'

Zorg dat het dataframe omgekeerd gesorteerd is op het aantal editors.
* time je functie voor i=6 en laat de top zien. 
 
### Hints
* denk eens aan een merge
* pas op voor dubbel tellingen: je wilt niet zowel (eng, deu, 14940) als (deu,eng, 14940) in je dataframe hebben zitten
* met `Counter` kan je heel handig tellen.

### Zo moet je output eruit zien:

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>taal1</th>
      <th>taal2</th>
      <th>aantal_editors</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>15404</th>
      <td>deu</td>
      <td>eng</td>
      <td>34555</td>
    </tr>
    <tr>
      <th>7093</th>
      <td>eng</td>
      <td>fra</td>
      <td>22852</td>
    </tr>
    <tr>
      <th>13069</th>
      <td>eng</td>
      <td>spa</td>
      <td>19043</td>
    </tr>
    <tr>
      <th>3393</th>
      <td>eng</td>
      <td>rus</td>
      <td>12174</td>
    </tr>
    <tr>
      <th>2348</th>
      <td>eng</td>
      <td>ita</td>
      <td>12060</td>
    </tr>
  </tbody>
</table>

In [7]:
#cant really get the good output. Not sure what I'm doing wrong
def N5(i):
    
    df2 = df[df.duplicated(['gebruikersnaam'], keep=False)]
    df2 = df2[df2['aantal_edits'] >= str(i)]
    df_dict= {k:sorted(g["taal"]) for k,g in df2.groupby("gebruikersnaam")}

    L = []
    

    for x in df_dict.values():
        values = list(combinations(x, 2))
           
        for x in values:
            [L.append(x)]

    
    data = dict(Counter(L))
        



    df4 = pd.DataFrame(list(data.iteritems()),columns=['index','aantal_editors'])
    df4[['taal1','taal2']] = df4['index'].apply(pd.Series)
    df4 = df4.drop('index', 1)
    df4 = df4[['taal1','taal2','aantal_editors']]
    df4 = df4.sort_values(by = 'aantal_editors', ascending=False)
    return df4.head()
    
    

    
%time a = N5(6)    
a

CPU times: user 42.7 s, sys: 3.8 s, total: 46.5 s
Wall time: 47.4 s

      taal1 taal2  aantal_editors
1912    deu   eng            2916
13311   eng   fra            2044
24555   eng   spa            1709
4423    deu   fra            1117
6395    eng   rus            1077